InheritParentConfig: true
Checks: >
  -cppcoreguidelines-avoid-do-while,
  -cppcoreguidelines-avoid-magic-numbers,
  -google-build-using-namespace,
  -misc-use-anonymous-namespace,
  -readability-function-cognitive-complexity,
  -readability-magic-numbers,
CheckOptions:
  - key: misc-include-cleaner.IgnoreHeaders
    value: 'ostream\.hpp;__msvc_string_view\.hpp'
