Language: Cpp
BasedOnStyle: Microsoft

AccessModifierOffset: -4
AlignAfterOpenBracket: DontAlign
AlignEscapedNewlines: DontAlign
AllowShortBlocksOnASingleLine: Empty
AllowShortLambdasOnASingleLine: None
AlwaysBreakTemplateDeclarations: Yes
BreakConstructorInitializers: AfterColon
BraceWrapping:
  AfterCaseLabel: true
  AfterUnion: true
  BeforeLambdaBody: true
  SplitEmptyNamespace: false
IncludeBlocks: Regroup
IncludeCategories:
  - Regex: '^".+"'
    Priority: 1
    CaseSensitive: false
  - Regex: '^<.+\..+>'
    Priority: 2
    CaseSensitive: false
  - Regex: '^<[^.]+>'
    Priority: 3
    CaseSensitive: false
PointerAlignment: Left
SortIncludes: CaseInsensitive
SpaceAfterTemplateKeyword: false
SpaceBeforeParens: Never
UseCRLF: true
UseTab: ForIndentation
