[submodule "ext/raylib-cpp"]
	path = ext/raylib-cpp
	url = https://github.com/RobLoach/raylib-cpp
[submodule "ext/raygui"]
	path = ext/raygui
	url = https://github.com/raysan5/raygui
[submodule "ext/rres"]
	path = ext/rres
	url = https://github.com/raysan5/rres
