[submodule "ext/raylib"]
	path = ext/raylib
	url = https://github.com/raysan5/raylib
[submodule "ext/raylib-cpp"]
	path = ext/raylib-cpp
	url = https://github.com/RobLoach/raylib-cpp
[submodule "ext/raygui"]
	path = ext/raygui
	url = https://github.com/raysan5/raygui
[submodule "ext/rres"]
	path = ext/rres
	url = https://github.com/raysan5/rres
[submodule "ext/Catch2"]
	path = ext/Catch2
	url = https://github.com/catchorg/Catch2
[submodule "ext/magic_enum"]
	path = ext/magic_enum
	url = https://github.com/Neargye/magic_enum
